doctype html
html
  head
    title Landing Page
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    .landing-page
      h1 Benvenuto!
      a.btn-redirect(href="/profiles")  i Profili