




























<div class="container">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="text-center mt-3">
      <h1 class="h1" style="text-align: center;background-color: aqua;">GRAN BEL METEO</h1>
      <p>la città che inserirai ti darà il tempo atmosferico che vorrai</p>
    </div>
  
    <div class="mb-3">
      <input type="text" placeholder="Inserisci la città:" class="form-control" id="cityInput" [(ngModel)]="city">
      <div class="mt-2">
        <button style="background-color: brown;color: white;;" class="btn btn-primary" (click)="getWeather()">Inserisci</button>
      </div>
    </div>
  
    <div *ngIf="weatherData">
      <div class="mt-5">
        <div class="card">
          <h1 class="card-title name">{{ weatherData.name }}</h1>
          <p class="card-text temp">Tempo atmosferico - {{ weatherData.main?.temp }}</p>
          <p class="card-text desc">Descrizione del tempo - {{ weatherData.weather[0]?.description }}</p>
        </div>
      </div>
    </div>
</div>
  
